{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<body>
<img class='logo'src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/U.S._Small_Business_Administration_logo.svg/2560px-U.S._Small_Business_Administration_logo.svg.png" alt="SBA">
<ul>
    <li><a class='active'>Bienvenue</a></li>
    <li><a href="questionnaire">Simulation </a></li>
</ul>
    <h2>L’US SBA a été fondée en 1953 dans le but d’aider les petites entreprises à avoir un crédit. Les petites entreprises ont été la principale source de création d'emplois aux États-Unis; par conséquent, favoriser la création et la croissance de petites entreprises présente des avantages sociaux en créant des opportunités d'emploi et en réduisant le chômage.</h2>

</body>